<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Atualizar Professor</title>
</head>

<body>
  <h1>Atualizar Professor</h1>
  <form action="{{ url_for('professores.update_professor', id_professor=professor.id) }}" method="POST">
    <!-- Altere o método de envio para PUT -->
    <input type="hidden" name="_method" value="PUT">
    
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome" value="{{ professor.nome }}">
    
    <label for="idade">Idade:</label>
    <input type="number" id="idade" name="idade" value="{{ professor.idade }}">

    <label for="materia">Matéria:</label>
    <input type="text" id="materia" name="materia" value="{{ professor.materia }}">

    <label for="observacoes">Observações:</label>
    <textarea id="observacoes" name="observacoes">{{ professor.observacoes }}</textarea>
    
    <button type="submit">Atualizar</button>
  </form>
</body>

</html>
