<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Atualizar Turma</title>
</head>

<body>
  <h1>Atualizar Turma</h1>
  <form action="{{ url_for('turmas.update_turma', id_turma=turma.id) }}" method="POST">
    <!-- Altere o método de envio para PUT -->
    <input type="hidden" name="_method" value="PUT">
    
    <label for="descricao">Descrição:</label>
    <input type="text" id="descricao" name="descricao" value="{{ turma.descricao }}" maxlength="20">
    
    <label for="professor_id">Professor ID:</label>
    <input type="number" id="professor_id" name="professor_id" value="{{ turma.professor_id }}">

    <label for="ativo">Ativo:</label>
    <select id="ativo" name="ativo">
      <option value="true" {% if turma.ativo %}selected{% endif %}>Sim</option>
      <option value="false" {% if not turma.ativo %}selected{% endif %}>Não</option>
    </select>
    
    <button type="submit">Atualizar</button>
  </form>
  <a href="{{ url_for('turmas.get_turmas') }}">Voltar para a lista de turmas</a>
</body>

</html>
