<!-- adicionar_turma.html -->
<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Adicionar Turma</title>
</head>

<body>
  <h1>Adicionar Turma</h1>
  <form action="{{ url_for('turmas.create_turma') }}" method="post">
    
    <label for="descricao">Descrição:</label><br>
    <input type="text" id="descricao" name="descricao" maxlength="20"><br>

    <label for="professor_id">Professor ID:</label><br>
    <input type="number" id="professor_id" name="professor_id"><br>

    <label for="ativo">Ativo:</label><br>
    <input type="checkbox" id="ativo" name="ativo" value="true"><br>

    <input type="submit" value="Adicionar Turma">
  </form>
</body>

</html>
